<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CustomerMapper">
	<resultMap type="Customer" id="customerResultMap">
		<id property="userNo" column="USER_NO" />
		<result property="userId" column="USER_ID" />
		<result property="userName" column="USER_NAME" />
		<result property="userAge" column="USER_AGE" />
		<result property="addr" column="ADDR" />
		<result property="gender" column="GENDER" />
		<result property="enrollDate" column="ENROLL_DATE" />

	</resultMap>
	<insert id="insertcustomer">
		INSERT INTO CUSTOMER (USER_NO, User_Id, USER_PW, user_Name, user_Age, Addr,
		Gender)
		VALUES (CUSTOMER_SEQ.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userAge},
		#{addr}, #{gender})
	</insert>

	<select id="selectCustomerList" resultMap="customerResultMap">
		SELECT * FROM CUSTOMER ORDER BY USER_NO ASC
	</select>

	<select id="selectOneByUserNo" resultMap="customerResultMap">
		SELECT * FROM CUSTOMER WHERE USER_NO = #{userNo}
	</select>
	<select id="selectCustomerSearch" resultMap="customerResultMap">
		SELECT * FROM CUSTOMER
		<where>
			<if test="searchCondition == 'userNo'">
				USER_NO = #{searchKeyword}
			</if>
			<if test="searchCondition == 'userId'">
				USER_ID LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'userName'">
				USER_NAME LIKE '%'||#{searchKeyword}||'%'
			</if>
		</where>
		ORDER BY USER_NO DESC
	</select>
	<select id="getSearchListSize" resultType="_int">
		SELECT COUNT(*) FROM CUSTOMER WHERE NAME LIKE CONCAT('%', #{keyword},
		'%')
		<where>
			<if test="searchCondition == 'userNo'">
				USER_NO = #{searchKeyword}
			</if>
			<if test="searchCondition == 'userId'">
				USER_ID LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="searchCondition == 'userName'">
				USER_NAME LIKE '%'||#{searchKeyword}||'%'
			</if>

		</where>

	</select>

	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM CUSTOMER
	</select>

	<delete id="deleteById">
		DELETE FROM CUSTOMER WHERE USER_ID = #{userId }
	</delete>

	<update id="updateCustomer">
		UPDATE CUSTOMER SET USER_NAME = #{userName}, ADDR = #{addr} WHERE USER_NO =
		#{userNo}
	</update>

</mapper>